<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/authenticateTheUser}" method="post">
    <div class="container">

        <div th:if="${param.error}">
            <p>Invalid username/password!</p>
        </div>

        <label><b>Username</b></label>
        <input type="text" name="username" placeholder="Enter Username" required>

        <label><b>Password</b></label>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit" value="Login">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>  <button type="submit" value="Logout">Log Out</button>
</form>



</body>
</html>